.sidenav {
    color: red;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    /* Black */
    /* overflow-x: hidden; */
    /* Disable horizontal scroll */
    padding-top: 20px;
}

body {
    color: yellow;
    background-color: pink;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    text-align: right;
}

.body-content {
    margin-left: 240px;
    /* color: blue; */
}

h1 {
    margin-left: 16px;
    background-color: azure;
    padding: 1em;
}

h2 {
    color: green;
    margin-left: 32px;
}

h3 {
    color: violet;
    margin-left: 48px;
}

h4 {
    /* text-align: right; */
    font-style: italic;
    margin-left: 64px;
    color: bisque;
}

.body-content li {
    margin-left: 24px;
}

img {
    width: 20%;
    float: left;
    margin-right: 2em;
    border-color: blueviolet;
}

.intro {
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
}

.intro h1 {
    width: 50%;
    text-align: center;
    padding: 2em;
    margin-top: 32pt;
}

.items {
    font-weight: bold;
}