/* https: //stackoverflow.com/questions/9067892/how-to-align-two-elements-on-the-same-line-without-changing-html */

.sidenav {
    color: white;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 240px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: black;
    /* Black */
    /* overflow-x: hidden; */
    /* Disable horizontal scroll */
    padding-top: 20px;
}

body {
    color: black;
    background-color: #F2F2F2;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.body-content{
    margin-left: 240px;
    /* color: blue; */
}

h1{
    margin-left: 16px;
}

h2{
    margin-left: 32px;
}

h3{
    margin-left: 48px;
}

h4 {
    /* text-align: right; */
    font-style: italic;
    margin-left: 64px;
}

.body-content li{
    margin-left: 24px;
}

img{
    width: 20%;
    float: left;
    margin-right: 2em;
}

.intro{
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
}

.intro h1{
    width: 50%;
    text-align: center;
    padding: 2em;
    margin-top: 32pt;
}

.items {
    font-weight: bold;
}
